

h1 {
text-align: center;
color: #FF1493;
}	

p {
font-size: 26px;
text-align: center;
font-family: 'Alumni Sans Inline One', cursive;
font-family: 'Roboto', sans-serif;
color: #4169E1;
}
ul{
  color: #FF1493;
  font-size: 18px;
}
