body {
    
    }
    .principal{
	background-image: url("background.png");
   	 background-size: cover;
    }

p {
    color: #4169E1;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center
    }

h1 {
    color: #FF1493;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center
    }
            
            
h2 {
    color: #FF1493;
    font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center    
    }

.tesoura {
    width: 15%
    
                 
	}

.logo{
	display: inline-block;
	margin-left: 40%;
	height: 20%
}
