body {
    
    }
.banner {
display: inline-block;
vertical-align: top;
}
    .principal{
	background-image: url("https://www.teahub.io/photos/full/3-39168_barbie-4k.jpg");
   	 background-size: cover;
    }
.imageminicial{
    width: 100%;
    height: 350px;
    object-fit: none;
    }
p {
    color: #4169E1;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    }

h1 {
    color: #FF1493;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    }
            
            
h2 {
    color: #FF1493;
    font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;    
    }

.tesoura {
    width: 15%
                 
	}
