body {
    
    }
    .principal{
	background-image: url("https://www.teahub.io/photos/full/3-39168_barbie-4k.jpg");
   	 background-size: cover;
    }

p {
    color: #4169E1;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center
    }

h1 {
    color: #FF1493;
	font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center
    }
            
            
h2 {
    color: #FF1493;
    font-family: 'Alumni Sans Inline One', cursive;
	font-family: 'Roboto', sans-serif;
    text-align: center    
    }

.tesoura {
    width: 15%
    
                 
	}

.logo{
	display: inline-block;
	width: 30%;
	margin-left: 35%;
}
